/*CSS rule */
/*body {
  background-color: yellow;
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}
*/


* {
  /* asterisk (*) in CSS means selecting all elemEnts on Our HTML*/
  font-family: 'Roboto', sans-serif;
}


h1, h2 {
font-family: 'Montserrat', sans-serif;
}

img {
  height: 250px;
  width:  250px;
}

/*.container-fluid
background-color: pink;
}*/

#landing { /*select element that has id attribute called landing*/
height: 80vh; /*view port height*/
/* center the content vertically*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
}

ul {
  list-style: none;
  padding: 0;
}
h2 {
  color: #007bff;
}


.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2; /*border lines */
  width: 75%;
  margin: 20px;
  color: white;
}
